*{
    padding: 0;
    margin: 0;
    text-decoration: none;
}


/* header */
.header{
    font-family:fantasy;
background-color: rgba(10, 214, 37, 0.61);
    font-size: xx-large;
    padding: 35px;
    overflow: hidden;
    text-align: center;


}

h1{
    color: brown;
}

h4{
    color: #334756;
}

.logo{
    float: right;
    position: relative;
    top: 0px;
    width:20vh;
}

/* navbar */
.navbar{
    background-color: #333;
    overflow: hidden;
    
}
.navbar a{
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  font-family: Arial, Helvetica, sans-serif;
}

.navbar a:hover{
    background-color: brown;
}

/* content */
#TP{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #def2f1;
    padding: 15px;
    margin-bottom: -15px;
}

#TP #ques{
    font-size: 200%;
    color: #e93d1b;
    font-family: Arial, Helvetica, sans-serif;
}
#full{
    background-color: #def2f1;
}
/* Description */

.logos1
{
    width: 110px;
    height: auto;
    border-radius: 10%;
    float:left;
    margin-right: 18px;
}

.logos2
{
    width: 110px;
    height: auto;
    border-radius: 10%;
    float:right;
    margin-left: 18px;
    padding-right: 15px;
}

.PEC
{
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 1%;
    border: 2px solid ;
    border-radius: 10px; 
    background-color: #F5F5DC;
    margin: 10px;
}

.UIET
{
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 1%;
    background-color: #FFE5E2;
    border: 2px solid ;
    border-radius: 10px;
    margin: 10px;
}

.CCET
{
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 1%;
    border: 2px solid ;
    border-radius: 10px; 
    background-color: #F5F5DC;
    margin: 10px;
}

.chitkara
{
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 1%;
    border: 2px solid ;
    border-radius: 10px; 
    background-color: #FFE5E2;
    margin: 10px;
}

.CU
{
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 1%;
    border: 2px solid ;
    border-radius: 10px; 
    background-color: #F5F5DC;
    margin: 10px;
}

.PEC h2, .CCET h2, .CU h2
{
    color: #B05B3B
}

.UIET h2, .chitkara h2
{
    color: #E2703A;
}

.PEC a, .UIET a, .CU a, .chitkara a, .CCET a{
    font-size: large;
    font-weight: bold;
}

.PEC a:hover, .UIET a:hover, .CU a:hover, .chitkara a:hover, .CCET a:hover{
    color: red; 
}

/* .rule{
    width: 95%;
    margin-left: 2%;
    margin-right: 2%;
    height: 2px;
    border-radius: 2px;
    background-color: gray;
    border: none;
    margin-top: 18px;
    margin-bottom: 18px;
} */

/* footer */

.footer{
    background-color: rgb(22, 22, 22);
   margin-top: 15px;
    overflow: hidden;
    
    
}

.footer_rule, .footer_links{
    margin: 15px;
    width: 95%;
    
}

.footer_content{
    font-family: Arial, Helvetica, sans-serif, sans-serif;
    line-height: 200%;
    color: rgba(255, 255, 255, 0.856);
    float: left;
    margin-bottom: 10px;
}

.footer_content2{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 70%;
    float: right;
    color: rgba(255, 255, 255, 0.856);
    margin-right: 20vh;
}

.contact{
    text-decoration: none;
    color:rgba(255, 255, 255, 0.856);
}

.contact:hover{
    color: rgba(255, 255, 255, 0.438);
}
 tbody{
     border-color: rgb(228, 28, 28);
    border-style: none;
     margin: 4px 4px 4px 8px;
     
 }
 .panel-heading,.heading2{
     
    background-color: rgba(0, 0, 0, 0.726);
    color: white;
    padding: 5px 5px;
    padding-left: 15px;
   border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 2px;
    text-align: center;
 }
 .table2{
   margin-left: auto;
   margin-right: auto;

 }
 .table3{
    margin-left: auto;
    margin-right: auto;ntasy;
    background-color: rgba(10, 214, 37, 0.61);
 }
 .whole{
     background-color: yellow;
 }
 .past{padding-top: 10px;
    
     color: rgb(117, 23, 7);
     font-size: x-large;
 }
.table1{
    text-align: center;
background-color: rgba(10, 214, 37, 0.61);
   margin-left: auto;
   margin-right: auto;
}
pre{
    color: rgb(12, 102, 93);
    line-height: 1.5em;
}
.section1{
    font-family:cursive ;
    font-size: 120%;
}