*{
    padding: 0;
    margin: 0;
    text-decoration: none;
}
.navbar{
    background-color: #333;
    overflow: hidden;
    
}
.navbar a{
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  font-family: Arial, Helvetica, sans-serif;
}

.navbar a:hover{
    background-color: brown;
}
.header{
    color: rgb(20, 99, 145);
    
    font-size: 300%;
    font-family: sans-serif;
    text-shadow: #333;
    text-align: center;
}
.section1{
    font-family: cursive;
    font-size: 100%;
    background-color: rgb(139, 241, 228);
}
.whole{
    padding: 4px;
    margin: 4px 4px 4px 4px;
    background-color: rgb(42, 42, 121);
}