*{
  
    margin: 0;
}




 /*footer */

.footer{
    background-color: rgb(22, 22, 22);
    margin-top: -15px;
    overflow: hidden;
    padding: 15px;
    
}

.footer_rule, .footer_links{
    margin: 15px;
    width: 95%;
    
}

.footer_content{
    font-family: Arial, Helvetica, sans-serif, sans-serif;
    line-height: 200%;
    color: rgba(255, 255, 255, 0.856);
    float: left;
    margin-bottom: 10px;
}

.footer_content2{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 70%;
    float: right;
    color: rgba(255, 255, 255, 0.856);
    margin-right: 20vh;
}

.contact{
    text-decoration: none;
    color:rgba(255, 255, 255, 0.856);
}

.contact:hover{
    color: rgba(255, 255, 255, 0.438);
}
tbody{
    border-color: rgb(228, 28, 28);
   border-style: none;
    margin: 4px 4px 4px 8px;
    
}
.panel-heading,.heading2{
    
   background-color: #333;
   color: white;
   padding: 5px 5px;
   padding-left: 15px;
  border-radius: 10px;
   margin-top: 10px;
   margin-bottom: 20px;
   height: 40px;
   text-align: center;
   font-size: larger;
}
.table2{
  margin-left: auto;
  margin-right: auto;

}
.table3{
   margin-left: auto;
   margin-right: auto;ntasy;
   background-color: rgba(10, 214, 37, 0.61);
}

}
.past{padding-top: 10px;
   
    color: rgb(117, 23, 7);
    font-size: x-large;
}
.table1{
   text-align: center;
background-color: rgba(10, 214, 37, 0.61);
  margin-left: auto;
  margin-right: auto;
}
pre{
   color: rgb(12, 102, 93);
   line-height: 1.5em;
}
.section1{
   font-family:cursive ;
   font-size: 120%;
}