*{
  
    margin: 0;
    text-decoration: none;

}


/* header */
.header{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: #FFDAB9;
    padding: 15px;
    overflow: hidden;
}

h1{
    color: brown;
}

h4{
    color: #334756;

}




 /*footer */

.footer{
    background-color: rgb(22, 22, 22);
    margin-top: -15px;
    overflow: hidden;
    padding: 15px;
    
}

.footer_rule, .footer_links{
    margin: 15px;
    width: 95%;
    
}

.footer_content{
    font-family: Arial, Helvetica, sans-serif, sans-serif;
    line-height: 200%;
    color: rgba(255, 255, 255, 0.856);
    float: left;
    margin-bottom: 10px;
}

.footer_content2{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 70%;
    float: right;
    color: rgba(255, 255, 255, 0.856);
    margin-right: 20vh;
}

.contact{
    text-decoration: none;
    color:rgba(255, 255, 255, 0.856);
}

.contact:hover{
    color: rgba(255, 255, 255, 0.438);
}
tbody{
    border-color: rgb(228, 28, 28);
   border-style: none;
    margin: 4px 4px 4px 8px;
    
}
.panel-heading,.heading2{

    font-size: x-large;
   background-color: rgba(0, 0, 0, 0.726);

    
   background-color: #333;

   color: white;
  padding-top: 25px;
  padding-bottom: 5px;
   padding-left: 15px;
  border-radius: 10px;
   margin-top: 10px;
   margin-bottom: 20px;
   height: 40px;
   text-align: center;
   font-size: larger;
}
.table2{
  margin-left: auto;
  margin-right: auto;
  background-color: beige;

}
.table3{
   margin-left: auto;
   margin-right: auto;
   background-color: beige;
}


.past{padding-top: 10px;
   font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(117, 23, 7);
    
}
.table1{
    
    font-weight: 700;
   text-align: center;
background-color: beige;
  margin-left: auto;
  margin-right: auto;
}
pre{
   color: rgb(12, 102, 93);
   line-height: 1.5em;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.section1{
    background-image: url(pic1);
   font-family:cursive ;
   font-size: 120%;
}

tr{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(7, 44, 65);
}
@keyframes change_color1{
from{background-color: aqua;}
to{background-color: yellowgreen;}
}
@keyframes change_color2{
from{background-color:rgba(0, 0, 255, 0.315);}
to{background-color: rgb(182, 212, 212);}
}
@keyframes change_color3{
from{background-color:rgb(131, 252, 61);}
to{background-color: rgb(223, 88, 88);}
}

.ftable1{
    background-color: lightskyblue;
    animation-name: change_color1; 
        animation-direction: alternate;
        animation-duration: 6s; 
        animation-iteration-count: infinite;
    
}
.ftable2{
    background-color:rgba(0, 0, 255, 0.315);
    animation-name: change_color2; 
        animation-direction: alternate;
        animation-duration: 6s; 
        animation-iteration-count: infinite;
}
.ftable3{
    background-color:grey;
    animation-name: change_color3; 
        animation-direction: alternate;
        animation-duration: 6s; 
        animation-iteration-count: infinite;
    ;
}
h2{
    color: crimson;

}
a{
    color: brown;
}