*{
    padding: 0;
    margin: 0;
    text-decoration: none;
}


/* header */
.header{
    font-family: Cambria, Cochin, Georgia, 'Times New Roman', serif;
    background-color: #FFDAB9;
    padding: 15px;
    overflow: hidden;
}

h1{
    color: brown;
}

h4{
    color: #334756;
}

.logo{
    float: right;
    position: relative;
    top: 0px;
    width:20vh;
}

/* navbar */
.navbar{
    background-color: #333;
    overflow: hidden;
    
}
.navbar a{
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  font-family: Arial, Helvetica, sans-serif;
}

.navbar a:hover{
    background-color: brown;
}
/*Content*/
body {
	padding-top: 0%;
	background: linear-gradient(90deg,#c33764, #1d2671);
	font-family: sans-serif;
	font-weight: 100;
	color: white;
	font-family: Times New Roman;
	font-size: 110%;
}
.Intro
{
    padding: 30px;
	margin: 2%;
	border: 2px;
    border-radius: 10px;
	background: linear-gradient(90deg,#4568DC, #B06AB3);
	box-shadow: 0 0 20px rgba(255,255,255,0.3);
}

.logos2
{
	padding:30px;
    width: 160px;
    height: 160px;
    border-radius: 5%;
    float:center;
    margin-left: 44%;
}

th:hover {
	
  }

td:hover {
    
  }
table {
	width: 50%;
	border-collapse: collapse;
	overflow: hidden;
    box-shadow: 0 0 20px rgba(255,255,255,0.3);
	margin:2%;
	margin-left: 25%;
	padding= 30px;
	background: linear-gradient(90deg,#4568DC, #B06AB3);
	border-radius: 10px;
}
th,td {
	padding: 15px;
}
th {
	text-align: top,center;
}
td {
    position: relative;
}

img{
	border-radius:10px;
	box-shadow: 0 0 20px rgba(255,255,255,0.3);
}

/* footer */

.footer{
    background-color: rgb(22, 22, 22);
    margin-top: 15px;
    overflow: hidden;
    padding: 15px;
    
}

.footer_rule, .footer_links{
    margin: 15px;
    width: 95%;
    
}

.footer_content{
    font-family: Arial, Helvetica, sans-serif, sans-serif;
    line-height: 200%;
    color: rgba(255, 255, 255, 0.856);
    float: left;
    margin-bottom: 10px;
	margin-left:560px;
}

.footer_content2{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 70%;
    float: right;
    color: rgba(255, 255, 255, 0.856);
    margin-right: 20vh;
}

.contact{
    text-decoration: none;
    color:rgba(255, 255, 255, 0.856);
}

.contact:hover{
    color: rgba(255, 255, 255, 0.438);
}